{% extends "index.html" %} {% block vulneContent %} {%if errors%} {%for error in errors%}
<p style="color:red">{{error}}</p>
{%endfor%} {%endif%}
<div class="panel panel-default">
	<div class="panel-body">
		<form role="form" action="/check_in/" method="get" id="personform">
			<div class="form-group">
				<ul>
					<input type="submit" class="btn btn-default" id="btn_search" name="btn_search" value="查找" />
					<input type="button" class="btn btn-default" id="btn_add" name="btn_add" data-toggle="modal" data-target="#addModal" value="新增" />
					<input type="submit" class="btn btn-default" id="btn_edit" name="btn_edit" data-toggle="modal" data-target="#myModal" value="修改" />
					<input type="submit" class="btn btn-default" id="btn_del" name="btn_del" data-toggle="modal" data-target="#myModal" value="删除" />
					<input type="reset" class="btn btn-primary" id="btn_reset" name="btn_reset" value="重置" />
					<input type="hidden" name="btn_name" id="btn_name" value="none" />
				</ul>
			</div>
			<ul>
				<div class="input-group">
					<span class="input-group-addon">编号</span>
					<input type="text" class="form-control" id="id" name="id" style="width:50px;" readonly>
				</div>
			</ul>
			<ul>
				<div class="input-group">
					<span class="input-group-addon">姓名</span>
					<input type="text" class="form-control" id="name" name="name">
					<span class="input-group-addon">性别</span>
					<input type="text" class="form-control" id="sex" name="sex">
					<span class="input-group-addon">身份证号</span>
					<input type="text" class="form-control" id="cardid" name="cardid">
					<span class="input-group-addon">工作单位</span>
					<input type="text" class="form-control" id="company" name="company">
					<span class="input-group-addon">科室</span>
					<input type="text" class="form-control" id="department" name="department">
				</div>
			</ul>

			<ul>
				<div class="input-group">
					<span class="input-group-addon">学历</span>
					<input type="text" class="form-control" id="degree" name="degree">
					<span class="input-group-addon">职称</span>
					<input type="text" class="form-control" id="title" name="title">
					<span class="input-group-addon">职务</span>
					<input type="text" class="form-control" id="post" name="post">
					<span class="input-group-addon">联系电话</span>
					<input type="text" class="form-control" id="phone" name="phone">
					<span class="input-group-addon">注册费</span>
					<input type="text" class="form-control" id="pay" name="pay">
				</div>
			</ul>
			<ul>
				<div class="input-group">
					<span class="input-group-addon">银行卡号</span>
					<input type="text" class="form-control" id="banknum" name="banknum">
					<span class="input-group-addon">开户行</span>
					<input type="text" class="form-control" id="bankname" name="bankname">
					<span class="input-group-addon">房间号</span>
					<input type="text" class="form-control" id="room" name="room">
					<span class="input-group-addon">住宿天数</span>
					<input type="text" class="form-control" id="hoteldays" name="hoteldays">
					<span class="input-group-addon">奖券号</span>
					<input type="text" class="form-control" id="ticketnum" name="ticketnum">
					<span class="input-group-addon">学分号</span>
					<input type="text" class="form-control" id="score" name="score">
				</div>
			</ul>
		</form>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-body">
		<div class="table table-bordered table-responsive table-striped table-hover table-condensed">
			<table class="table" id="person_table">
				<caption>查找记录</caption>
				<thead>
					<tr>
						<th> <input type="checkbox" id="checkAll"></th>
						<th>编号</th>
						<th>姓名</th>
						<th>性别</th>
						<th>身份证号</th>
						<th>工作单位</th>
						<th>科室</th>
						<th>学历</th>
						<th>职称</th>
						<th>职务</th>
						<th>联系电话</th>
						<th>签到时间</th>
						<th>注册费</th>
						<th>银行卡号</th>
						<th>开户行</th>
						<th>房间号</th>
						<th>住宿天数</th>
						<th>奖券号</th>
						<th>学分号</th>
					</tr>
				</thead>
				<tbody>
					{%if persons%} {% for person in persons%}
					<tr>
						<td><input type="checkbox" name="personCheck"></td>
						<td>{{person.id}}</td>
						<td>{{person.name}}</td>
						<td>{{person.sex}}</td>
						<td>{{person.cardid}}</td>
						<td>{{person.company}}</td>
						<td>{{person.department}}</td>
						<td>{{person.degree}}</td>
						<td>{{person.title}}</td>
						<td>{{person.post}}</td>
						<td>{{person.phone}}</td>
						<td>{{person.registtime}} </td>
						<!--<td><fmt:formatDate value={{person.registtime}}" pattern="yyyy-MM-dd hh:mm:ss"></fmt:formatDate>
						</td>-->
						<td>{{person.pay}}</td>
						<td>{{person.banknum}}</td>
						<td>{{person.bankname}}</td>
						<td>{{person.room}}</td>
						<td>{{person.hoteldays}}</td>
						<td>{{person.ticketnum}}</td>
						<td>{{person.score}}</td>
					</tr>
					{% endfor%} {% endif%}
				</tbody>
			</table>
		</div>
	</div>
	<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">确认新增</h4>
				</div>
				<div class="modal-body" id="body_content">
					<ul>
						<li id="body_name"></li>
						<li id="body_sex"></li>
						<li id="body_cardid"></li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary" onclick="add_function()">确认</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>
	<input type="button" class="btn btn-default" id="btn_del" name="btn_del" value="测试" onclick="checkedNum()" />
</div>
<script>
	$('#addModal').on('shown.bs.modal', function() {
		document.getElementById('myModalLabel').innerHTML = "确认新增人员" + document.getElementById("name").value;
		document.getElementById('body_name').innerHTML = "<strong>姓名：</strong>" + document.getElementById("name").value;
		document.getElementById('body_sex').innerHTML = "<strong>性别：</strong>" + document.getElementById("sex").value;
		document.getElementById('body_cardid').innerHTML = "<strong>身份证号：</strong>" + document.getElementById("cardid").value;
	});

	function add_function() {
		document.getElementById('btn_name').value = "add";
		personform.submit();
	}
	$(function() {
		$("#checkAll").click(function() {
			$("input[name='personCheck']:checkbox").prop("checked", this.checked);
		});
		$("input[name='personCheck']:checkbox").click(function() {
			if(checkedNum() == 1) {
				var aa = document.getElementsByName("personCheck");
				for(var i = 0; i < aa.length; i++) {
					if(aa[i].checked) {
						var rowindex = aa[i].parentNode.parentNode.rowIndex;
						personform.reset();
						var index = 2;
						document.getElementById("id").value = document.getElementById("person_table").rows[rowindex].cells[1].innerHTML;
						document.getElementById("name").value = document.getElementById("person_table").rows[rowindex].cells[index].innerHTML;
						document.getElementById("sex").value = document.getElementById("person_table").rows[rowindex].cells[++index].innerHTML;
						document.getElementById("cardid").value = document.getElementById("person_table").rows[rowindex].cells[++index].innerHTML;
						document.getElementById("company").value = document.getElementById("person_table").rows[rowindex].cells[++index].innerHTML;
						document.getElementById("department").value = document.getElementById("person_table").rows[rowindex].cells[++index].innerHTML;
						document.getElementById("degree").value = document.getElementById("person_table").rows[rowindex].cells[++index].innerHTML;
						document.getElementById("title").value = document.getElementById("person_table").rows[rowindex].cells[++index].innerHTML;
						document.getElementById("post").value = document.getElementById("person_table").rows[rowindex].cells[++index].innerHTML;
						document.getElementById("phone").value = document.getElementById("person_table").rows[rowindex].cells[++index].innerHTML;
						index++;
						document.getElementById("pay").value = document.getElementById("person_table").rows[rowindex].cells[++index].innerHTML;
						document.getElementById("banknum").value = document.getElementById("person_table").rows[rowindex].cells[++index].innerHTML;
						document.getElementById("bankname").value = document.getElementById("person_table").rows[rowindex].cells[++index].innerHTML;
						document.getElementById("room").value = document.getElementById("person_table").rows[rowindex].cells[++index].innerHTML;
						document.getElementById("hoteldays").value = document.getElementById("person_table").rows[rowindex].cells[++index].innerHTML;
						document.getElementById("ticketnum").value = document.getElementById("person_table").rows[rowindex].cells[++index].innerHTML;
						document.getElementById("score").value = document.getElementById("person_table").rows[rowindex].cells[++index].innerHTML;
					}
				}
			} else {
				personform.reset();
			}
		});
	});

	function checkedNum() {
		var num = -1;
		num = $("input[type='checkbox'][name='personCheck']:checked").length;
		return num;
	}
</script>
{% endblock %}